@font-face{
    font-family:"Eurostib";
    /* 
    	src: url(http://localhost:8448/COREGUMA/assets/font/eurostile/Eurostib.ttf);
    */
    src: url(http://165.98.75.42/COREGUMA/assets/font/eurostile/Eurostib.ttf);
}
html {
    font-family: Eurostib;
}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
nav  img{
  width: 120px;
}
.header{
    margin-top: 40px;
}
.card-panel-login{
  width: 500px;
  height: 400px;
  margin-left: 20%;
}
.card-panel-login img{
  width: 100px;
}
.btn{
    /*background-color: #3e984c;*/
    
}

 .centro p{
     margin-top: 20px;
     text-align: center;
     /* position: absolute;
     margin: 0 auto;*/
}

.error{
    color: rgba(255, 150, 0, 0.91);
    font-size: 18px;
}
#name{
    font-size: 16px;
    letter-spacing: 1px;
}
#pass{
     letter-spacing: 4px;
}

/*table.tableizer-table {
    font-size: 12px;
    font-family: Eurostib;
} 
.tableizer-table td {
    padding: 3px;
    margin: 3px;    
    

    /*border: 1px solid #ccc;*/
}
/*.tableizer-table th {
    text-align: center;
    background-color: #29b6f6 ; 
    color: #FFF;
    font-weight: bold;
}
*/
/*
.tableizer-lastrow {
    text-align: center;
    background-color: #29b6f6 ; 
    color: #FFF;
    font-weight: bold;
}

.tableizer-Middelrow {
    text-align: center;
    background-color: #00695c; 
    color: #FFF;
    font-weight: bold;
}
.AnchoLineaTitulo{
  height: 10px;
}*/

ul >  li {
  list-style-type:none;
  text-align:center;
  
}
ul >  li > img{
  
vertical-align: middle;
  
}
/*
table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}*/
.numeric{  
  text-align:center;
}

/*td, th {
    text-align: center;
    vertical-align: middle;    
    font-size: 12px;
}
#tblid_vista_detalles, .tableizer-firstrow{
  border: 1px solid black;

}*/




@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  
.datos{
    text-align: center;
}

.datos thead th{
    background-color: #29317f;
    color: #ffffff;
     font-size: 12px;
    
}
.datos th,td, tr{
    text-align: center;

}

 .datos tbody tr {
    background-color: #BEEDFF;
    font-size: 12px;
     font-weight: bold;

}
#TblMaster .User tbody{
    font-family: Eurosti;
}

img{
  margin-left: 10%;
}

#jjjj
{
  width: 200px;
  background: red;
  height: 150px;
}